<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/table.css"/>
	</head>
	<body>
		<table>
			<tbody>
				{{#dirs}}
				<tbody class="labels">
					<tr>
						<td colspan="5">
							<label for="{{root}}">{{root}}</label>
							<input type="checkbox" name="{{root}}" id="{{root}}" data-toggle="toggle">
						</td>
					</tr>
				</tbody>
				<tbody class="hide">
					{{#pkgs}}
					<form action="/install" method="post" style="margin-bottom: 0">
						<input type="hidden" name="filepath" value="{{filepath}}">
						<tr>
							<td>{{dir}}</td>
							<td>{{name}}</td>
							<td>{{size}}</td>
							<td><input type="submit" value="INSTALL"/></td>
						</tr>
					</form>
					{{/pkgs}}
				</tbody>
				{{/dirs}}
			</tbody>
		</table>
		<script src="/js/jquery.slim.min.js"/>
		<script src="/js/table.js"/>
	</body>
</html>