<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.3.min.js"/>
		<script type="text/javascript">
			$(document).ready(function() {
				$('[data-toggle="toggle"]').change(function(){
					$(this).parents().next('.hide').toggle();
				});
			});
		</script>
		<style>
			table { 
				width: 750px; 
				border-collapse: collapse; 
				margin:50px auto;
				}

			th { 
				background: #3498db; 
				color: white; 
				font-weight: bold; 
				}

			td, th { 
				padding: 10px; 
				border: 1px solid #ccc; 
				text-align: left; 
				font-size: 18px;
				}

			.labels tr td {
				background-color: #2cc16a;
				font-weight: bold;
				color: #fff;
			}

			.label tr td label {
				display: block;
			}

			[data-toggle="toggle"] {
				display: none;
			}
		</style>
	</head>
	<body>
		<table>
			<tbody>
				{{#dirs}}
				<tbody class="labels">
					<tr>
						<td colspan="5">
							<label for="{{root}}">{{root}}</label>
							<input type="checkbox" name="{{root}}" id="{{root}}" data-toggle="toggle">
						</td>
					</tr>
				</tbody>
				<tbody class="hide">
					{{#pkgs}}
					<form action="/install" method="post" style="margin-bottom: 0">
						<input type="hidden" name="filepath" value="{{filepath}}">
						<tr>
							<td>{{dir}}</td>
							<td>{{name}}</td>
							<td>{{size}}</td>
							<td><input type="submit" value="INSTALL"/>
						</tr>
					</form>
					{{/pkgs}}
				</tbody>
				{{/dirs}}
			</tbody>
		</table>
	</body>
</html>